.header{
    border-bottom: solid 1px #E0DFDE;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

.header__logo {
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-decoration: none;
}