input,
textarea,
option,
select {
    background-color: #F4F4F4;
    border: none;
    margin: 25px 10px;
}

input::placeholder,
textarea::placeholder {
    color: #BEB1A6;
    padding-left: 15px;
}

th {
    color: #8B7969;
    text-align: left;
}

label {
    color: #8B7969;
    margin-right: 25px;
}

textarea {
    width: 100%;
}

.input {
    padding-left: 10px;
    height: 35px;
    width: 100%;
}

.contact-form {
    margin: 0 auto;
    padding: 30px 10px;
    width: 80%;
}

.contact-form__logo {
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.form {
    margin: 0 auto;
    max-width: 80%;
}

.form__group {
    margin-left: 50px;
}

.form__group span {
    color: #FF9494;
}

.form__group-item {
    display: flex;
    justify-content: space-between;
}

.¥form__group-inner {
    padding-left: 60px;
}

.form-input {
    width: 100%;
    height: 35px;
}

.form-item {
    height: 35px;
    width: 25%;
    padding-top: 25px;
}

.form__item-tell {
    height: 35px;
    width: 25%;
    text-align: center;
}

.checked {
    accent-color: #8B7969;
}

.select-box {
    position: relative;
}

.select-box::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #8B7969 transparent transparent transparent;
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-box__item {
    appearance: none;
    color: #BEB1A6;
    padding-left: 15px;
    height: 35px;
    width: 60%;
}

.form-under__button {
    text-align: center;
    padding-bottom: 25px;
}

.form-under__button-submit {
    border: none;
    text-decoration: none;
    background-color: #82756A;
    color: #fff;
    padding: 10px 30px;
}

.form-error td{
    color: #FF9494;
}